body {
    padding-top: 80px;
    padding-bottom: 5px;
    background-color: black; /*самый нижний фон*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0c0435; /*фон*/
    align-content:center;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}
textarea {
    max-width: 480px;
} 

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.style-anket {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    color: #06490e;
}
.style-anket h2 {
        color:#002e29;
   }
    .style-anket label {
        font-size: 16px;

    }
    .style-anket input {
        background-color: #ffffff;

    }
    .style-anket textarea {
        background-color: #ffffff;
    }
    .style-anket select {
        font-size: 16px;
    }
.block {
    background: #fff;
}

.color1 {
    background: #000;
}

h5 {
    color: orange;
}
.img-responsive1 /* лаба 9 */ 
{
    margin: auto
}
.text1 /* лаба 9 */ {
    color: #ffffff;
}
.text2 /* лаба 9 */ {
    color: blue;
    margin-bottom: auto;
}
.text3 /* лаба 9 */ {
    color: #ffffff;
    background: linear-gradient(60deg,#89fa68,#426aed)
}
.back1 /* лаба 9 */ {
    background: #000;
}
.test {
    /*margin:0px 100px 0;*/
    left:20px;
}
.basket {
    left: 20px;
    margin-left: 10px;
}

.testee textarea{
    display: block;
}

.catalog-author {
    color:forestgreen;
    font-size:20px;
}

.catalog-text{
    
}

.catalog-date{
    color:darkorange;
    font-size:15px;
}

.catalog-status
{
color:darkblue;
font-size:16px;
}

.testbutton {
    height: 2000px;
    width: 2000px;
}