{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Наша компания занимается разработкой десктопного программного обеспечения, созданием и настройкой сайтов.</p>
<h3>Наши продукты:</h3>
<p><a href="https://img.imgsmail.ru/cloud/css/build/cloudweb-11571-72-2-1.202011181831/main.css">Программа для рассчёта технологического процесса</a></p>
<p><a href="https://cloud.mail.ru/public/5Hyy/wfBw5rTLW">Программа для решения задач линейного программирования симплексным методом</a></p>
<p><a href="https://cloud.mail.ru/public/5HFg/87dhVbHo1">Программа удалённого управления ПК</a></p>
<p><a href="http://91.240.87.89">Сайт для нормализации адресов</a></p>
{% endblock %}
